<div style="width: 100%; overflow: hidden;">
    <div style="width: 150px; float: left;"> <img src="https://raw.githubusercontent.com/DataForScience/Networks/master/data/D4Sci_logo_ball.png" alt="Data For Science, Inc" align="left" border="0" width=150px> </div>
    <div style="float: left; margin-left: 10px;"> <h1>LLMs for Data Science</h1>
<h1>NLP With HuggingFace</h1>
        <p>Bruno Gonçalves<br/>
        <a href="http://www.data4sci.com/">www.data4sci.com</a><br/>
            @bgoncalves, @data4sci</p></div>
</div>

In [1]:
from collections import Counter
from pprint import pprint

import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt 

from ipywidgets import interact

import transformers
from transformers import pipeline
from transformers import set_seed
set_seed(42) # Set the seed to get reproducible results

import os
import gzip

import tqdm as tq
from tqdm.notebook import tqdm
tqdm.pandas()

import networkx as nx

import watermark

%load_ext watermark
%matplotlib inline

We start by printing out the versions of the libraries we're using for future reference

In [2]:
%watermark -n -v -m -g -iv

Python implementation: CPython
Python version       : 3.11.7
IPython version      : 8.12.3

Compiler    : Clang 14.0.6
OS          : Darwin
Release     : 23.6.0
Machine     : arm64
Processor   : arm
CPU cores   : 16
Architecture: 64bit

Git hash: c41b176ef7945b2b1b6f441cb671df91ba470b00

transformers: 4.41.1
tqdm        : 4.66.4
watermark   : 2.4.3
numpy       : 1.26.4
networkx    : 3.3
pandas      : 1.5.3
matplotlib  : 3.8.0

Load default figure style

In [3]:
plt.style.use('d4sci.mplstyle')
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']

# Named Entity Recognition

In [4]:
email = """Dear Amazon, last week I ordered an Optimus Prime action figure \
from your online store in Germany. Unfortunately, when I opened the package, \
I discovered to my horror that I had been sent an action figure of Megatron \
instead! As a lifelong enemy of the Decepticons, I hope you can understand my \
dilemma. To resolve the issue, I demand an exchange of Megatron for the \
Optimus Prime figure I ordered. Enclosed are copies of my records concerning \
this purchase. I expect to hear from you soon. Sincerely, Bumblebee."""

In [5]:
ner_tagger = pipeline("ner", aggregation_strategy="simple")

No model was supplied, defaulted to dbmdz/bert-large-cased-finetuned-conll03-english and revision f2482bf (https://huggingface.co/dbmdz/bert-large-cased-finetuned-conll03-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
/opt/anaconda3/lib/python3.11/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(
Some weights of the model checkpoint at dbmdz/bert-large-cased-finetuned-conll03-english were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [6]:
outputs = ner_tagger(email)

In [7]:
pd.DataFrame(outputs)

  entity_group     score           word  start  end
0          ORG  0.879010         Amazon      5   11
1         MISC  0.990859  Optimus Prime     36   49
2          LOC  0.999755        Germany     90   97
3         MISC  0.556572           Mega    208  212
4          PER  0.590255         ##tron    212  216
5          ORG  0.669693         Decept    253  259
6         MISC  0.498348        ##icons    259  264
7         MISC  0.775362       Megatron    350  358
8         MISC  0.987854  Optimus Prime    367  380
9          PER  0.812097      Bumblebee    502  511

# PoS Tagging

Load the pipeline

In [8]:
pos_tagger = pipeline("token-classification", model="vblagoje/bert-english-uncased-finetuned-pos")

Some weights of the model checkpoint at vblagoje/bert-english-uncased-finetuned-pos were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [9]:
text = "The quick brown fox jumps over the lazy dog."

Extract the part of speech tags

In [10]:
pos_tags = pos_tagger(text)
pd.DataFrame(pos_tags)

  entity     score  index   word  start  end
0    DET  0.999445      1    the      0    3
1    ADJ  0.997063      2  quick      4    9
2    ADJ  0.942299      3  brown     10   15
3   NOUN  0.997004      4    fox     16   19
4   VERB  0.999446      5  jumps     20   25
5    ADP  0.999325      6   over     26   30
6    DET  0.999527      7    the     31   34
7    ADJ  0.997863      8   lazy     35   39
8   NOUN  0.998858      9    dog     40   43
9  PUNCT  0.999650     10      .     43   44

# Summarization

In [11]:
summarizer = pipeline("summarization")

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 and revision a4f8f3e (https://huggingface.co/sshleifer/distilbart-cnn-12-6).
Using a pipeline without specifying a model name and revision in production is not recommended.
/opt/anaconda3/lib/python3.11/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

The first 4 paragraphs of https://en.wikipedia.org/wiki/Transformers

In [12]:
wiki_text = """
Transformers is a media franchise produced by American toy company Hasbro and Japanese toy company Takara Tomy. It primarily follows the heroic Autobots and the villainous Decepticons, two alien robot factions at war that can transform into other forms, such as vehicles and animals. The franchise encompasses toys, animation, comic books, video games and films. As of 2011, it generated more than ¥2 trillion ($25 billion) in revenue,[1] making it one of the highest-grossing media franchises of all time.

The franchise began in 1984 with the Transformers toy line, comprising transforming mecha toys from Takara's Diaclone and Micro Change toylines rebranded for Western markets.[2] The term "Generation 1" (G1) covers both the animated television series The Transformers and the comic book series of the same name, which are further divided into Japanese, British and Canadian spin-offs. Sequels followed, such as the Generation 2 comic book and Beast Wars TV series, which became its own mini-universe. Generation 1 characters have been rebooted multiple times in the 21st century in comics from Dreamwave Productions (starting 2001), IDW Publishing (starting in 2005 and again in 2019), and Skybound Entertainment (beginning in 2023). There have been other incarnations of the story based on different toy lines during and after the 20th century. The first was the Robots in Disguise series, followed by three shows (Armada, Energon, and Cybertron) that constitute a single universe called the "Unicron Trilogy".

A live-action film series started in 2007, again distinct from previous incarnations, while the Transformers: Animated series merged concepts from the G1 continuity, the 2007 live-action film and the "Unicron Trilogy". For most of the 2010s, in an attempt to mitigate the wave of reboots, the "Aligned Continuity" was established. In 2018, Transformers: Cyberverse debuted, once again, distinct from the previous incarnations.

Although a separate and competing franchise started in 1983, Tonka's GoBots became the intellectual property of Hasbro after their buyout of Tonka in 1991. Subsequently, the universe depicted in the animated series Challenge of the GoBots and follow-up film GoBots: Battle of the Rock Lords was retroactively established as an alternate universe within the Transformers multiverse.[3] 
"""

To generate the summary we just have to call the pipeline

In [13]:
summary = summarizer(wiki_text)

print(summary[0]['summary_text'])

 The Transformers is a media franchise produced by Hasbro and Japanese toy company Takara Tomy . It primarily follows the heroic Autobots and the villainous Decepticons, two alien robot factions at war that can transform into other forms, such as vehicles and animals . As of 2011, it generated more than ¥2 trillion ($25 billion) in revenue .

We can also specify a minimum length

In [14]:
summary = summarizer(wiki_text, min_length=100)

print(summary[0]['summary_text'])

 Transformers is a media franchise produced by Hasbro and Japanese toy company Takara Tomy . It primarily follows the heroic Autobots and the villainous Decepticons, two alien robot factions at war that can transform into other forms, such as vehicles and animals . As of 2011, it generated more than ¥2 trillion ($25 billion) in revenue, making it one of the highest-grossing media franchises of all time . The term "Generation 1" (G1) covers both the animated television series The Transformers and the comic book series of the same name .

# Question Answering

In [15]:
reader = pipeline("question-answering")

No model was supplied, defaulted to distilbert/distilbert-base-cased-distilled-squad and revision 626af31 (https://huggingface.co/distilbert/distilbert-base-cased-distilled-squad).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [16]:
question = "What does the customer want?"

In [17]:
outputs = reader(question=question, context=email)
pd.DataFrame([outputs])

      score  start  end                   answer
0  0.631292    335  358  an exchange of Megatron

# Translation

In [18]:
translator = pipeline("translation_en_to_it", 
                      model="Helsinki-NLP/opus-mt-en-it")

In [19]:
outputs = translator(email, clean_up_tokenization_spaces=True, min_length=100, max_length=1000)
print(outputs[0]['translation_text'])

Cara Amazon, la scorsa settimana ho ordinato una figura d'azione Optimus Prime dal tuo negozio online in Germania. Purtroppo, quando ho aperto il pacchetto, ho scoperto al mio orrore che ero stato inviato una figura d'azione di Megatron invece! Come un nemico per tutta la vita dei Decepticon, spero che si può capire il mio dilemma. Per risolvere il problema, chiedo uno scambio di Megatron per la figura di Optimus Prime ho ordinato. In allegato sono copie dei miei record riguardanti questo acquisto. Mi aspetto di sentire da voi presto. Cordialmente, Bumblebee.

For comparison, let us look at the results of google translate:

```
Caro Amazon, la settimana scorsa ho ordinato un action figure di Optimus Prime dal tuo negozio online in Germania. Sfortunatamente, quando ho aperto il pacco, ho scoperto con orrore che mi era stata invece inviata una action figure di Megatron! Essendo un nemico da sempre dei Decepticon, spero che tu possa capire il mio dilemma. Per risolvere il problema, chiedo uno scambio di Megatron con la figura di Optimus Prime che ho ordinato. In allegato sono presenti copie dei miei documenti relativi a questo acquisto. Mi aspetto di sentirti presto. Cordiali saluti, Bombo.
```

Google translate is less context aware in the translation going so far as translating the name of the email sender (Bumblebee -> Bombo). On the other hand, the Hugging Face model is more formal ("sentire da voi" -> "sentirti")

# Sentiment Analysis

In [20]:
sentiment_pipeline = pipeline("sentiment-analysis")

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
/opt/anaconda3/lib/python3.11/site-packages/huggingface_hub/file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

Let us use a comple of faily obvious instances

In [21]:
instances = ["I love you", "I hate you"]

The model does a pretty good job of figuring out which one is positive and which one is negative

In [22]:
sentiment_pipeline(instances)

[{'label': 'POSITIVE', 'score': 0.9998656511306763},
 {'label': 'NEGATIVE', 'score': 0.9991129040718079}]

# Application

Load a few hundred tweets about Apple

In [23]:
data = pd.read_csv('data/Apple-Twitter-Sentiment-DFE.csv', usecols=['text'])

In [24]:
data

                                                   text
0     #AAPL:The 10 best Steve Jobs emails ever...htt...
1     RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...
2     My cat only chews @apple cords. Such an #Apple...
3     I agree with @jimcramer that the #IndividualIn...
4          Nobody expects the Spanish Inquisition #AAPL
...                                                 ...
3881  (Via FC) Apple Is Warming Up To Social Media -...
3882  RT @MMLXIV: there is no avocado emoji may I as...
3883  @marcbulandr I could not agree more. Between @...
3884  My iPhone 5's photos are no longer downloading...
3885  RT @SwiftKey: We're so excited to be named to ...

[3886 rows x 1 columns]

Compute the sentiment score for each tweet

In [25]:
sent = pd.DataFrame(data['text'].progress_apply(lambda x: pd.Series(sentiment_pipeline(x)[0])))

  0%|          | 0/3886 [00:00<?, ?it/s]

In [26]:
sent.rename(columns={'score': 'sentiment_confidence'}, inplace=True)

We can also use NER to identify when a person is mentioned in the tweet

In [27]:
data['text'].iloc[0]

'#AAPL:The 10 best Steve Jobs emails ever...http://t.co/82G1kL94tx'

In [28]:
ner_tagger(data['text'].iloc[0])

[{'entity_group': 'PER',
  'score': 0.73089933,
  'word': 'Steve Jobs',
  'start': 18,
  'end': 28}]

Identify all people mentioned

In [29]:
def find_people(x):
    output = ner_tagger(x)
    
    for tag in output:
        if tag['entity_group'] == 'PER':
            out = {'confidence':tag["score"], 'person': tag['word'] }
            return pd.Series(out)
    
    return pd.Series({"confidence": None, "person": None})

In [30]:
people = pd.DataFrame(data['text'].progress_apply(find_people))

  0%|          | 0/3886 [00:00<?, ?it/s]

Combine all the results into a single DataFrame

In [31]:
data = pd.concat([data, sent, people], axis=1)

In [32]:
data

,text,label,sentiment_confidence,confidence,person
0,#AAPL:The 10 best Steve Jobs emails ever...htt...,POSITIVE,0.999432,0.730899,Steve Jobs
1,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,NEGATIVE,0.999122,NaN,None
2,My cat only chews @apple cords. Such an #Apple...,NEGATIVE,0.996177,NaN,None
3,I agree with @jimcramer that the #IndividualIn...,POSITIVE,0.995648,NaN,None
4,Nobody expects the Spanish Inquisition #AAPL,NEGATIVE,0.932676,NaN,None
...,...,...,...,...,...
3881,(Via FC) Apple Is Warming Up To Social Media -...,NEGATIVE,0.992046,NaN,None
3882,RT @MMLXIV: there is no avocado emoji may I as...,NEGATIVE,0.999158,NaN,None
3883,@marcbulandr I could not agree more. Between @...,NEGATIVE,0.935773,NaN,None
3884,My iPhone 5's photos are no longer downloading...,NEGATIVE,0.998303,NaN,None
3885,RT @SwiftKey: We're so excited to be named to ...,POSITIVE,0.998714,NaN,None

Subset the data to only the tweets meantioning people

In [ ]:
data.person.isna()

In [34]:
people = data[data.person.isna() == False].copy()

In [35]:
people

,text,label,sentiment_confidence,confidence,person
0,#AAPL:The 10 best Steve Jobs emails ever...htt...,POSITIVE,0.999432,0.730899,Steve Jobs
17,@Apple John Cantlie has been a prisoner of ISI...,POSITIVE,0.930674,0.984458,John Cantlie
80,I'm hoping @apple won't automatically make us ...,NEGATIVE,0.997191,0.889901,Bruce Springsteen
81,@thehill @Apple What a joke! Justice Dept shou...,NEGATIVE,0.992056,0.941649,Killer Wilson
85,#AAPL:10 Steve Jobs emails you need to read......,NEGATIVE,0.994819,0.495679,Job
...,...,...,...,...,...
3777,Jeff Daniels in Talks to Play Former Apple CEO...,NEGATIVE,0.593705,0.999621,Jeff Daniels
3798,"Dear Santa, All I want for Christmas is for @A...",NEGATIVE,0.979491,0.839571,Santa
3812,@Apple co-founder Steve Wozniak talks about St...,POSITIVE,0.938843,0.941354,Steve Wozniak
3818,RT @CNET: @Apple pioneer Bill Fernandez on @Go...,NEGATIVE,0.922325,0.999579,Bill Fernandez
3879,Tim Cook Met With Jesse Jackson for 'Positive ...,POSITIVE,0.998170,0.999658,Tim Cook

Convert the text labels to a numerical score

In [36]:
people['sentiment'] = people.apply(lambda x: 1 if x.label == 'POSITIVE' else -1, axis=1)

Compute the average score

In [37]:
stats = people[['person', 'sentiment']].groupby('person').mean()

In [38]:
counts = people[['person', 'sentiment']].groupby('person').count()
counts.rename(columns={'sentiment':'count'}, inplace=True)

In [39]:
stats = stats.join(counts)

In [40]:
stats[stats['count']>=5].sort_values('sentiment', ascending=False)

                 sentiment  count
person
Steve Wozniak    -0.200000     10
Steve            -0.333333      6
Eddy Cue         -0.500000      8
Steve Job        -0.647059     17
Mark Zuckerberg  -0.714286      7
Steve Jobs       -0.777778     27
Tim Cook         -0.793103     29
Job              -0.800000     10

<center>
     <img src="https://raw.githubusercontent.com/DataForScience/Networks/master/data/D4Sci_logo_full.png" alt="Data For Science, Inc" align="center" border="0" width=300px> 
</center>